/*Variables */
/*Mapas*/
/* Encabezados y menu navegable*/
header h1 {
  font-family: "Zeyada";
  font-size: xx-large;
  text-align: center;
  padding: 0.10rem;
  margin: 30px;
  font-weight: bolder; }

nav {
  text-decoration: none;
  font-family: "Toma SansSB";
  justify-content: space-between;
  font-size: medium;
  font-family: 'Toma SansSB'; }
  nav ul {
    display: flex;
    margin: auto;
    color: #365d86;
    text-decoration: none;
    font-family: 400 0.75 rem/1.5 Montserrat;
    justify-content: space-between;
    font-size: medium;
    background-color: none;
    font-weight: 500;
    line-height: 2px;
    border-bottom: 1.5px solid #384c61;
    border-top: 1.5px solid #384c61;
    padding: 10.56px 0;
    letter-spacing: 3px;
    width: 100%; }
    nav ul li a:hover {
      color: #f08080;
      font-family: inherit; }

.body {
  font-family: inherit;
  line-height: 10px; }

/*Sticky*/
header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1; }

/*Main de la pagina ppal*/
.portalImg {
  display: block;
  margin: auto;
  max-width: 85%; }

.mySocials {
  text-align: center;
  font-family: "Nanum Myeongjo";
  font-size: medium;
  font-weight: bolder;
  margin: 20px; }

.socialsLogs {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px; }

p {
  text-align: center;
  font-family: "Nanum Myeongjo";
  font-size: x-small; }

/*Picture about me*/
.aboutme {
  display: flex;
  align-items: center; }
  .aboutme__pic {
    max-width: 40%;
    padding: 0.25rem;
    position: relative;
    margin: 20px;
    align-items: center; }
  .aboutme__intro {
    font-size: medium;
    font-family: Gideon Roman;
    color: grey;
    width: 65%;
    height: 15%;
    padding-left: 1rem;
    padding-right: 2.5rem;
    margin: 0.80rem; }

/*Mobile version*/
@media screen and (max-width: 480px) {
  .aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .aboutme__pic {
    max-width: 80%;
    height: 150%;
    margin: auto;
    align-items: center; }
  .aboutme__intro {
    margin: auto;
    height: auto;
    font-size: x-small;
    width: 75%;
    padding-left: 0.5rem; } }

/*Bootsrap menu hamburguesa*/
h2 {
  font-size: medium;
  font-family: Nanum Myeongjo;
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 20px; }

/*Pictures of Portfolio Bootstrap*/
.carousel-inner {
  width: 45%;
  margin: 25px auto;
  font-family: Zeyada;
  font-size: xx-large; }

.carousel-inner div:hover {
  opacity: 0.7;
  transform: scale(0.98); }

h5 {
  font-size: xx-large; }

/*Pictures of Blogs*/
.blogPics {
  display: grid;
  grid-template-areas: "blogPics__1", "blogPics__2","blogPics__3","blogPics__4";
  grid-template-columns: repeat(2, 4fr);
  margin: 30px; }
  .blogPics__1, .blogPics__2, .blogPics__3, .blogPics__4 {
    width: 98%;
    align-items: center; }
    .blogPics__1:hover, .blogPics__2:hover, .blogPics__3:hover, .blogPics__4:hover {
      opacity: 0.7;
      transform: scale(0.98); }
  .blogPics__tittles {
    font-family: "Zeyada";
    font-size: x-large; }

/*Media querys para el telefono*/
@media only screen and (max-width: 480px) {
  .blogPics {
    grid-template-areas: "blogPics__1" "blogPics__2" "blogPics__3" "blogPics__4";
    grid-template-columns: 1fr; } }

.contact__Grid {
  display: flex;
  justify-content: center; }

.contact__Grid__Pic {
  max-width: 85%;
  padding: 0.20rem;
  margin: 20px;
  align-content: center;
  justify-content: center; }

/*Contact form*/
.contactMe {
  text-align: center;
  font-size: x-large;
  text-decoration: none;
  letter-spacing: 0.08rem;
  font-family: "Zeyada"; }
  .contactMe .contactMeStyle {
    text-align: center;
    font-size: medium;
    font-family: "Zeyada";
    text-decoration: none;
    letter-spacing: 0.08rem; }
  .contactMe .span {
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    letter-spacing: 0.10rem;
    font-family: "Nanum Myeongjo";
    display: inline block; }

.contactForm {
  text-align: center;
  font-family: "Nanum Myeongjo";
  font-size: large;
  width: 65%;
  margin: 2rem 2rem;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  font-weight: 200;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  margin: auto; }
  .contactForm form input, .contactForm textarea {
    margin: 1rem;
    padding: 0.05rem;
    font-family: "Nanum Myeongjo";
    width: auto;
    height: 100px; }
  .contactForm form input[type="Submit"] {
    padding: 15px;
    font-weight: 300;
    cursor: pointer;
    border-color: #e094aa;
    border-width: 2.5px;
    border-style: solid;
    background-color: transparent;
    font-family: "Europa";
    font-weight: 150;
    text-transform: uppercase;
    letter-spacing: .20em;
    width: 150px;
    height: auto; }
  .contactForm .form input:focus, .contactForm textarea:focus {
    outline-color: #f9bec7; }
  .contactForm .form textarea {
    height: 5rem; }
  .contactForm .form input:focus, .contactForm textarea:focus {
    outline-color: #f9bec7; }
  .contactForm .form textarea {
    height: 5rem; }
  .contactForm .parrafoContact {
    font-family: "Nanum Myeongjo";
    font-size: medium; }
  .contactForm .ContactMe {
    text-align: center;
    font-family: "Zeyada";
    font-size: x-large; }

/*Mobile version*/
@media screen and (max-width: 480px) {
  .contact__Grid__Pic {
    width: max-content;
    display: block; }
  .contactMeStyle {
    font-size: x-small; }
  .span {
    font-size: x-small; }
  .contactForm {
    font-size: small;
    width: 65%;
    font-weight: 50; }
  form input, textarea {
    height: 60px;
    margin: 1rem;
    padding: 0.20rem;
    font-family: "Nanum Myeongjo";
    width: auto;
    height: 100px; }
  form input[type="Submit"] {
    padding: 10px;
    font-weight: 150;
    font-weight: 80;
    width: 85px; }
  .form textarea {
    height: 2rem;
    padding: 0.20rem; }
  .parrafoContact {
    font-size: x-small; }
  .ContactMe {
    font-size: x-small; } }

nav ul li, nav ul li a {
  display: flex;
  margin: auto;
  justify-content: center; }

/*Mixings para aplicar  li a */
