/*Picture about me*/

.aboutme{
    display: flex;
    align-items: center;  

    &__pic{
     max-width: 40%;
     padding: 0.25rem; 
     position: relative;
     margin: 20px;
     align-items: center;
      
    }

    &__intro{     
     font-size: map-get($map: $sizeletter, $key:medio);
     font-family:Gideon Roman;
     color:grey;
     width: 65%;
     height: 15%;
     padding-left: 1rem;
     padding-right: 2.5rem;
     margin: 0.80rem;
     
    }  

}

  /*Mobile version*/

  @media screen and (max-width: 480px){

    .aboutme{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .aboutme__pic{
      max-width: 80%;
      height: 150%;
      margin: auto;
      align-items: center;
      
       
     }

    .aboutme__intro{
      margin: auto;
      height:auto;
      font-size: map-get($map: $sizeletter, $key:xchico);
      width: 75%;
      padding-left: 0.5rem;
     
     
     

      

    }

    

    

    
    
  }



  
    
