.contact{
    &__Grid{
        display: flex;
        justify-content: center;
    }

    &__Grid__Pic{
        max-width: 85%;  
        padding: 0.20rem; 
        margin:20px;
        align-content: center;
        justify-content: center;
    }
}

/*Contact form*/
.contactMe {
    text-align: center;
    font-size: map-get($map: $sizeletter, $key:mediano );
    text-decoration: none;
    letter-spacing: 0.08rem;
    font-family: $fontfamily-blog-titles-contactme-carousel;

    .contactMeStyle{
        text-align: center;
        font-size: map-get($map: $sizeletter, $key:medio );
        font-family: $fontfamily-blog-titles-contactme-carousel;
        text-decoration: none;
        letter-spacing: 0.08rem;
    }

    .span{
        text-align: center;
        font-size: map-get($map: $sizeletter, $key:mediano);
        text-decoration: none;
        letter-spacing: 0.10rem;
        font-family: $fontfamily-h2-contactform-socials;
        display: inline block;
    }
}


.contactForm{
    text-align: center;
    font-family: $fontfamily-h2-contactform-socials;
    font-size: map-get($map: $sizeletter, $key:intermedio );
    width: 65%;
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    border-radius: 0.25rem;
    font-weight: 200;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    margin:auto;

    form input,textarea{
        margin: 1rem;
        padding: 0.05rem;
        font-family: $fontfamily-h2-contactform-socials;
        width: auto;
        height: 100px;
    }

    form input[type="Submit"] {
        padding: 15px;
        font-weight: 300;
        cursor: pointer;
        border-color:$color-submitbutton;
        border-width: 2.5px;
        border-style:solid;
        background-color: transparent;
        font-family: $fontfamily-submit;
        font-weight: 150;
        text-transform: uppercase;
        letter-spacing: .20em;
        width: 150px;
        height: auto;
    }

    .form input:focus, textarea:focus{
        outline-color: $color-textarea;
    }

    .form textarea{
        height: 5rem;
    }

    .form input:focus, textarea:focus{
        outline-color: #f9bec7;
    }

    .form textarea{
        height: 5rem;
    }

    .parrafoContact{
        font-family: $fontfamily-h2-contactform-socials;
        font-size: map-get($map: $sizeletter, $key:medio );
    }

    .ContactMe{
        text-align: center;
        font-family: $fontfamily-blog-titles-contactme-carousel;
        font-size: map-get($map: $sizeletter, $key:mediano);
    }
}

 /*Mobile version*/
 @media screen and (max-width: 480px){
    .contact__Grid__Pic{
        width:max-content;
        display: block;
      }
      .contactMeStyle{
        font-size: map-get($map: $sizeletter, $key:xchico);
          
      }
  
      .span{
             
          font-size: map-get($map: $sizeletter, $key:xchico);
      }
     
      .contactForm{
    
          font-size: map-get($map: $sizeletter, $key:chico);
          width: 85%;
          font-weight: 5;
      }
      
      form input,textarea{
              height: 30px;
              margin: 0.50rem;
              padding: 0.20rem;
              font-family: $fontfamily-h2-contactform-socials;
              width: auto;
              height: 80px;
          }
      
      form input[type="Submit"] {
              padding: 4px;
              font-weight: 80;
              width: 40x;
              height: 35px;
      
          }
      
      .form textarea{
              height: 1rem;
              padding: 0.40rem;
          }
  
      .parrafoContact{
              font-size: map-get($map: $sizeletter, $key:medio);
          }
      
      .ContactMe{
              font-size: map-get($map: $sizeletter, $key:xchico);
          }
      
  }
  
  
  
  