
/* Encabezados y menu navegable*/
header{
    h1{
        font-family: $fontfamily-blog-titles-contactme-carousel;
        font-size:map-get($map: $sizeletter, $key:grande );
        text-align: center;
        padding: 0.10rem;
        margin: 30px;
        font-weight: bolder;
    }
}

nav{
    $color-letra-menu-nav: black; 
    text-decoration: none;
    font-family: $fontfamily-menu-nav;
    justify-content: space-between; 
    font-size: map-get($map: $sizeletter, $key:medio );
    font-family: 'Toma SansSB';

    ul{
        display: flex;
        margin:  auto;
        color:#365d86;  
        text-decoration: none;
        font-family: 400 0.75 rem/1.5 Montserrat;
        justify-content: space-between; 
        font-size: map-get($map: $sizeletter, $key:medio );
        background-color: none;
        font-weight: 500;
        line-height: 2px;
        border-bottom: 1.5px solid #384c61;
        border-top: 1.5px solid #384c61;
        padding: 10.56px 0;
        letter-spacing: 3px;
        width: 100%;
       
        li{
            @extend %flexbox; 

            a{
                @extend %flexbox;

                &:hover{
                    color: #f08080;
                    font-family: $fontfamily-nav;
                }
            }
        }
    }
}

.body{
    font-family: $fontfamily-nav;
    line-height: 10px;   
}

/*Sticky*/
header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

/*Main de la pagina ppal*/
.portalImg{
    display:block;
    margin: auto;
    max-width: 85%;   
}

.mySocials{
    text-align: center;
    font-family: $fontfamily-h2-contactform-socials;
    font-size: map-get($map: $sizeletter, $key:medio );
    font-weight: bolder;
    margin: 20px;
}

.socialsLogs{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10px;    
}

p{
    text-align: center;
    font-family: $fontfamily-h2-contactform-socials;
    font-size: map-get($map: $sizeletter, $key:xchico );
}
