/*Variables */

$color-letra-menu-nav: black;
$color-hover-menu-nav: #f08080;
$fontfamily-menu-nav: 'Toma SansSB';
$fontfamily-intro-firstblog: 'Gideon Roman';
$fontfamily-blog-titles-contactme-carousel: 'Zeyada';
$fontfamily-h2-contactform-socials: 'Nanum Myeongjo';
$color-submitbutton: #e094aa;
$fontfamily-submit: 'Europa';
$color-textarea:#f9bec7;
$blogpics-width: 98%;
$fontfamily-nav:inherit;



/*Mapas*/


$sizeletter:(
    xchico: x-small,
    chico : small,
    medio: medium,
    intermedio:large,
    mediano:x-large,
    grande :xx-large,

)

